extends layout

block content
  h1 ¡Bienvenidos!
  img(src='images/logo.jpg')
  p Comenta sobre el Evento

  form(method='POST', action='/comment')
    input(type='text', name='message')
    input(type='submit', value='Send')

  each comment in comments
    div(class='comment')= comment.message